<div class="grid flex-row">
  <div class="col-5">
    <span class="p-float-label">
      <p-dropdown
        inputId="currencySelector"
        [options]="currencies"
        [(ngModel)]="currencySelected"
        optionLabel="value"
        optionValue="key"
        (onChange)="setHint()"
        [formControl]="currency"
      ></p-dropdown>
      <label for="currencySelector">Moneda</label>
      <small class="block">{{ exchangeHint }}</small>
    </span>
  </div>
  <div class="col-5 col-offset-2">
    <span class="p-float-label">
      <p-inputNumber
        [formControl]="amount"
        [(ngModel)]="amountInput"
        mode="currency"
        [currency]="currencySelected"
        inputId="amountInput"
        (ngModelChange)="setHint()"
      ></p-inputNumber>
      <label for="amountInput">Total</label>
      <small class="block">{{ amountHint }}</small>
    </span>
  </div>
</div>
