<p-card header="{{ title }}">
  <div class="grid">
    <div class="col-12 flex mt-4 mb-4">
      <div class="col-4 col-offset-1">
        <app-month-picker [dateValue]="selectedDate"></app-month-picker>
      </div>
      <div class="col-4 col-offset-2">
        <app-transaction-type-picker
          [valueSelected]="selectedType"
          (selection)="setTransactionType($event)"
        ></app-transaction-type-picker>
      </div>
    </div>
    <div class="col-12">
      <div class="list-item" *ngFor="let transaction of transactions">
        <app-item-transaction
          [transaction]="transaction"
        ></app-item-transaction>
        <p-divider></p-divider>
      </div>
    </div>
  </div>
</p-card>
