<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-monthpicker
      class="center"
      [selectedDate]="selectedDate"
      (dateDisplay)="setDate($event)"
    ></app-monthpicker>
    <app-transaction-type-picker
      [valueSelected]="selectedType"
      (selection)="setTransactionType($event)"
    ></app-transaction-type-picker>
    <div class="container">
      <mat-list>
        <app-item-transaction
          *ngFor="let transaction of transactions"
          [transaction]="transaction"
        ></app-item-transaction>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
