<p-card header="Etiquetas">
  <div class="grid">
    <div class="col-12 flex">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input
            id="tag-input"
            type="text"
            pInputText
            [formControl]="tagFormControl"
          />
          <label for="tag-input">Añadir etiqueta</label>
        </span>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-plus"
          styleClass="p-button-danger"
          (click)="onAddTag()"
        ></button>
      </div>
    </div>

    <div class="col-12 flex flex-wrap gap-2">
      <p-chip
        *ngFor="let tag of tags"
        label="{{ tag.name }}"
        [removable]="true"
        (onRemove)="onRemoveTag(tag.id)"
      ></p-chip>
    </div>
  </div>
</p-card>
