<p-card header="Añadir {{ transactionTypeLabel }}">
  <div
    class="border-round-lg px-1 pt-6 pb-0 gap-0 lg:px-6"
    [ngClass]="transactionType == 'income' ? 'bg-green-50' : 'bg-red-50'"
  >
    <form [formGroup]="form" id="ngForm">
      <div class="col-12 pb-0">
        <app-currency-field
          [in_currencyFormControl]="currency"
          [in_amountFormControl]="amount"
          (out_exchangeRate)="onCurrencyChange($event)"
        ></app-currency-field>
        <p-divider></p-divider>
      </div>

      <div class="col-12 my-0 py-0">
        <span>
          <h5>Transacción completada</h5>
          <p-inputSwitch
            inputId="completedSwitch"
            formControlName="completed"
          ></p-inputSwitch>
        </span>
        <p-divider></p-divider>
      </div>

      <div class="col-12">
        <span class="p-float-label">
          <p-calendar
            formControlName="date_of_transaction"
            [showIcon]="true"
            inputId="calendar"
          ></p-calendar>
          <label for="calendar">Fecha de transacción</label>
        </span>
        <p-divider></p-divider>
      </div>

      <div class="col-12 my-0 py-0">
        <span class="p-float-label">
          <input
            id="description-input"
            formControlName="description"
            type="text"
            pInputText
            ariaRequired="true"
            allowEmpty="false"
            style="width: 75%"
          />
          <label for="description-input">Descripción</label>
        </span>
        <p-divider></p-divider>
      </div>

      <div class="col-12 my-0 py-0">
        <span>
          <h5>{{ transactionTypeLabel }} Fijo</h5>
          <p-inputSwitch
            inputId="recurrentSwitch"
            formControlName="recurrent"
            (click)="onRecurrentChange()"
          ></p-inputSwitch>
        </span>
        <p-divider></p-divider>
      </div>

      <div class="col-12 my-0 py-0">
        <app-repetition-field
          [in_repeatsFormControl]="repeats"
          [in_repetitionFormControl]="repetitions"
          [in_frequencyFormControl]="frequency"
          (click)="onRepeatsChange()"
        ></app-repetition-field>
        <p-divider></p-divider>
      </div>

      <div class="col-12 flex flex-row gap-4 pt-2 mb-0 pb-2 align-items-center">
        <app-category-picker
          [in_transactionType]="transactionType"
          [in_formControl]="category"
        ></app-category-picker>
        <p-button
          label="Administrar"
          [routerLink]="'/categorias'"
          styleClass="p-button-text p-button-primary p-button-sm"
        ></p-button>
      </div>
      <p-divider></p-divider>

      <div class="col-12 my-0 py-0">
        <span class="p-float-label">
          <input
            id="notes-input"
            formControlName="notes"
            type="text"
            style="width: 75%"
            pInputText
          />
          <label for="notes-input">Notas</label>
        </span>
        <p-divider></p-divider>
      </div>

      <div class="col-12 flex flex-row gap-4 pt-2 mb-0 pb-2 align-items-center">
        <app-tag-picker [in_formControl]="tags"></app-tag-picker>
        <p-button
          label="Administrar"
          [routerLink]="'/categorias'"
          styleClass="p-button-text p-button-primary p-button-sm"
        ></p-button>
      </div>
      <p-divider></p-divider>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div
      class="flex flex-wrap justify-content-around px-1 pt-0 mt-0 gap-0 lg:px-6"
    >
      <button
        pButton
        pRipple
        label="Limpiar"
        class="p-button-outlined"
        icon="pi pi-times"
        (click)="form.reset()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        (click)="onSubmitForm()"
      ></button>
    </div>
  </ng-template>
</p-card>
