<div class="container flex flex-wrap flex-column justify-content-center">
  <form [formGroup]="form" id="ngForm">
    <div
      class="flex flex-wrap flex-column gap-6 justify-content-center align-items-center"
    >
      <app-category-picker
        [in_transactionType]="in_transactionType"
        [in_formControl]="formFrom"
      ></app-category-picker>
      <i class="pi pi-angle-double-down" style="font-size: 2rem"></i>
      <app-category-picker
        [in_transactionType]="in_transactionType"
        [in_formControl]="formTo"
      ></app-category-picker>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        type="submit"
        (click)="onSubmitForm()"
      ></button>
    </div>
  </form>
</div>
