<div class="col-12 pl-0">
  <span>
    <h5>Repetir</h5>
    <p-inputSwitch
      inputId="repeatsSwitch"
      [formControl]="in_repeatsFormControl"
    ></p-inputSwitch>
  </span>
</div>
<div class="flex flex-wrap gap-4 mt-5" *ngIf="in_repeatsFormControl.value">
  <app-frequency-picker
    [in_formControl]="in_frequencyFormControl"
  ></app-frequency-picker>
  <span class="p-float-label">
    <p-inputNumber
      [showButtons]="true"
      inputId="repetitions"
      [min]="1"
      [max]="100"
      [formControl]="in_repetitionFormControl"
    ></p-inputNumber>
    <label for="repetitions">Repeticiones</label>
  </span>
</div>
