<div class="col-12 pl-0">
  <span>
    <h5>Repetir</h5>
    <p-inputSwitch
      inputId="repeatsSwitch"
      [(ngModel)]="in_repetitionOn"
      (click)="onRepetitionToggle()"
      [disabled]="in_disabled"
    ></p-inputSwitch>
  </span>
</div>
<div class="flex flex-wrap gap-4 mt-5" *ngIf="in_repetitionOn">
  <app-frequency-picker
    [(selection)]="in_frequency"
    (selectionChange)="onChange()"
    [in_disabled]="in_disabled"
  ></app-frequency-picker>
  <span class="p-float-label">
    <p-inputNumber
      [showButtons]="true"
      inputId="repetitions"
      [min]="1"
      [max]="100"
      [(ngModel)]="in_repetitions"
      (ngModelChange)="onChange()"
      [disabled]="in_disabled"
    ></p-inputNumber>
    <label for="repetitions">Repeticiones</label>
  </span>
</div>
