<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      *ngIf="userIsAuth"
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      class="p-button-rounded p-button-text p-button-plain"
      (click)="onMenuClick()"
    ></button>
    Budget
  </div>

  <div class="p-toolbar-group-right">
    <a
      *ngIf="!userIsAuth"
      href="iniciar-sesion/"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>login</mat-icon>
    </a>

    <button
      *ngIf="userIsAuth"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="onLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</p-toolbar>
